@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Typing Animation */
.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #6b21a8; /* purple cursor */
  animation: typing 3s steps(25, end), blink 0.7s step-end infinite;
  width: 0;
}

@keyframes typing {
  from { width: 0; }
  to { width: 23ch; } /* length of the text */
}

@keyframes blink {
  50% { border-color: transparent; }
}
